* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --bg-color-gradient: linear-gradient(to right, #00c6ff, #0072ff);
}

#btnLogin {
    background: var(--bg-color-gradient);
}

body {}

.text-color {
    color: white;
}

::selection {
    background: #00e1ff;
    color: #555;
}

::-moz-selection {
    background: #00e1ff;
    color: #555;
}

::-webkit-selection {
    background: #00e1ff;
    color: #555;
}

.blink-text {
    color: #000;
    font-weight: bold;
    font-size: 2rem;
    animation: blinkingText 2s infinite;
}

.bg-image {
    background-image: url("/img/background-login.jpg");
    height: 100vh;
    /* You must set a specified height */
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
}

@keyframes blinkingText {
    0% {
        color: #0192FF;
    }

    25% {
        color: #00FFF9;
    }

    50% {
        color: #6AFF05;
    }

    75% {
        color: #FFF000;
    }

    85% {
        color: #FFAA05;
    }

    100% {
        color: #FF0000;
    }
}